@{
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}@using WebsiteFAP.Models
@model List<Applications>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Applications</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    @*<style>
        /* The container */
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            /* Hide the browser's default checkbox */
            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    </style>*@
</head>
<body>
    <h1>View Applications</h1>
    @*<label class="container">
        Processing Applications
        <input name=' type="checkbox" checked="checked">
        <span class="checkmark"></span>
    </label>*@
    <table class="table table-bordered" style="overflow:auto">
        <thead>
            <tr>
                <th>APPLICATION ID</th>
                <th>STUDENTID</th>
                <th>PURPOSE</th>
                <th>CREATE DATE</th>
                <th>PROCESS NOTE</th>
                <th>FILE</th>
                <th>STATUS</th>
                <th>ACTIONS</th>
                <th>SUBMIT</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
              
                <form action="/Admin/ChangeStatus?appid=@item.ApplicationId" method="post">
                <tr>
                    <td>
                        @item.ApplicationId
                    </td>
                    <td>@item.StudentId</td>
                    <td>@item.Purpose</td>
                    <td>@item.CreateDate</td>
                    @if (!(item.ProcessNote == null))
                    {
                        <td><textarea style="overflow:auto" type="text" placeholder="" cols="35" name="ProcessNote" rows="2">@item.ProcessNote</textarea></td>
                    }
                    else
                    {
                        <td><textarea style="overflow:auto" type="text" placeholder="" cols="35" name="ProcessNote" rows="2"></textarea></td>
                    }


                    <td><a href=@item.FileUploaded>Open</a></td>
                    @{ var x = item.StatusId;}
                    @if (x == 1)
                    {
                        <td style="color:forestgreen">Accepted</td>
                    }
                    else if (x == 2)
                    {
                        <td style="color: red">Denied</td>
                    }
                    else
                    {
                        <td style="color:blue">Processing</td>
                    }
                    <td>
                        <select name="status">
                            @if (@item.StatusId == 1)
                            {
                                <option selected value="1">Accept</option>
                                <option value="2">Deny</option>
                                <option value="3">Processing</option>
                            }
                            @if (@item.StatusId == 2)
                            {
                                <option value="1">Accept</option>
                                <option selected value="2">Deny</option>
                                <option value="3">Processing</option>
                            }
                            @if (@item.StatusId == 3)
                            {
                                <option value="1">Accept</option>
                                <option value="2">Deny</option>
                                <option selected value="3">Processing</option>
                            }

                        </select>
                    </td>
                    <td><button class="btn btn-success" type="submit">Submit</button></td>

                </tr>
                </form>

            }
        </tbody>
    </table>
    
</body>
</html>
